#adicionais{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15vw 50px 15vw;
}

.box1, .box2{
    font-size: 1.3em;
    line-height: 50px;
    text-align: justify;
    width: 50%;
}

.titleBD, .titleBA{
    text-align: center;
    margin: 0 0 15px 0;
    color: #700500;
}


.botao{
    display: flex;
    margin: 5% auto;
    width: 20%;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 30px;
    background-color: #EFCA48;
    border: 1px solid #EFCA48;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    color: black;
}

@media screen and (max-width: 1280px){
    #adicionais{
        flex-wrap: wrap;
        padding: 20px;
    }

    .box1, .box2{
        width: 100%;
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
        padding: 0;
    }
}

@media screen and (max-width: 600px){
    .box1, .box2{
        font-size: 15px;
        margin: 0 0 20px 0;
        line-height: 30px;
    }
}

@media screen and (max-width:400px){
    #adicionais{
        padding: 3px;
    }

    .titleBA, .titleBD{
        font-size: 1.3em;
    }

    .box1, .box2{
        font-size: 13px;
    }
}
 

@media screen and (max-width:300px){
    .box1, .box2{
        font-size: 10px;
    }
}


