.delivery{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    width: 100%;
    margin: 10% auto;
    flex-wrap: wrap;
}

.moto, .hot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.hot-img, .moto-img{
    width: 40%;
}

.hot-img img, .moto-img img{
    width: 70%;
}

.text-1, .text-2{
    width: 90%;
    font-weight: 800;
    text-align: justify;

}


@media screen and (min-width: 888px) and (max-width: 1040px){
   
    .hot-img, .moto-img{
        width: 60%;
        justify-content: space-between;
        display: flex;
    }

    .hot-img img, .moto-img img{
        width: 70%;
    }

    .text-1, .text-2{
        width: 70%;
    
    }

    .text-1 p{
        width: 260px;
        font-size: 15px;
    }

    .text-2 p{
        width: 260px;
        font-size: 15px;
    }
}

@media screen and (min-width: 669px) and (max-width: 887px){
    

}

@media screen and (min-width: 456px) and (max-width: 668px){
    .moto, .hot{
        width: 80%;
        margin: 5% auto;
    }

    div.moto img, div.hot img{
        width: 100%;
    }

    .text-1 p{
        width: 250px;
        font-size: 15px;
    }

    .text-2 p{
        width: 250px;
        font-size: 15px;
    }
}

@media screen and (min-width: 400px) and (max-width: 455px){
    .moto, .hot{
        width: 140%;
        margin: 5% auto;
    }

    div.moto img, div.hot img{
        width: 50px;
    }

    .text-1{
        display: inline-block;
        box-sizing: border-box;
    }

    .text-1 p{
        width: 200px;
        font-size: 14px;
    }

    .text-2 p{
        width: 220px;
        font-size: 14px;
    }
}

@media screen and (min-width: 200px) and (max-width: 399px){
    .delivery{
        padding: 20px;
    }
    .moto, .hot{
        width: 100%;
        margin: 5% auto;
    }

    div.moto img, div.hot img{
        width: 80%;
        height: 80%;
    }

    .text-1, .text-2{
        width: 80%;
    }

    .text-1 p{
        font-size: 12px;
    }

    .text-2 p{
        font-size: 12px;
    }
}