.linha_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 20px;
    margin-bottom: 20px;
}

.title2{
        color: #632b0a;
        font-size: 45px;
        text-align: center;
}

.linha11{
    border-top: 13px solid rgb(104, 46, 5);
    color: white;
    border-bottom: 13px solid rgb(255, 0, 106);
    width: 31%;
    height: 35px;
}

.linha21{
    border-top: 13px solid rgb(255, 0, 106);
    color: white;
    border-bottom: 13px solid rgb(104, 46, 5);
    width: 31%;
    height: 35px;
}

.head{
    background-color: #700500;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

.line-head{
   width: 70% !important;
   color: white !important;
   opacity: 100%;
}

.text-head{
    margin-right: auto;
    margin-left: auto;
}

a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding-bottom: 2px;
    transition:250ms;
}

a:hover{
    color: black;
    transform: scale(0.9);
}

section#HotDogDoce{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

.num_item-doce{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 0, 106, 0.644);
    color: #632b0a;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    top: 8px;
    font-weight: bold;
}

.card_title-doce{
    position: absolute;
    top: 10px;
    left: 60px;
    color: #632b0a;
}

.hot_price-doce{
    text-align: center;
  font-size: 2.5em;
  font-family: 'FontePreco';
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(129, 84, 24, 0.788);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 45%;
  color: rgb(255, 0, 106);
}

@media screen and (max-width:499px){
    .hot_price-doce{
        font-size: 1.3em;
    }
  
    .card_title-doce{
        font-size: .8em;
    }
  
  }

  @media screen and (max-width:1000px){
    .title2{
      font-size: 30px;
    }
  }
  
  @media screen and (max-width: 650px){
    .title2{
        font-size: 20px;
    }
  }
  