@charset "UTF-8";

@font-face {
    font-family: 'FontePrincipal';
    src: url("../fontes/Dosis-VariableFont_wght.ttf") format("TrueType");
}

@font-face {
    font-family: 'FonteTituloSlider';
    src: url('../fontes/Righteous-Regular.ttf') format("TrueType");
}

@font-face {
    font-family: 'FontePreco';
    src: url('../fontes/PatrickHandSC-Regular.ttf') format("TrueType");
}


*{
    box-sizing: border-box !important;
    scroll-behavior: smooth !important;
    margin: 0;
    padding: 0;
}


body, html{
    font-family: 'FontePrincipal' !important;
    margin: 0 !important;
    overflow-x: hidden;
    width: 100% !important;
    background-color: white;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}
