#cardapio{
    color: #700500;
    font-size: 40px;
    padding: 15px;
}

.linha_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 20px;
}

.linha1{
    border-top: 13px solid #700500;
    color: white;
    border-bottom: 13px solid #efca48;
    width: 37%;
    height: 35px;
}

.linha2{
    border-top: 13px solid #700500;
    color: white;
    border-bottom: 13px solid #efca48;
    width: 37%;
    height: 35px;
}

.title{
    color: #700500;
    font-size: 35px;
    text-align: center;
}

section#HotDogSalgado{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.itens_cardapio{
  width: 45%;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% auto 5% auto;
  padding: 15px;
  font-size: 20px;
  height: 60vh;
  position: relative;
}

.description{
  width: 50%;
  margin: 0 20px 0 0;
}

.item_picture{
  max-width: 50%;
  padding: 12.5% 0 ;
}

.item_picture img{
  max-width: 100%;
}

.num_item{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #700500;
  color: white;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  top: 8px;
}

.hot_price{
  text-align: center;
  font-size: 2.5em;
  font-family: 'FontePreco';
  font-weight: bold;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 45%;
}

.card_title{
  position: absolute;
  top: 10px;
  left: 60px;
  color: #700500;
  
}

.ingred_card{
  text-align: center;
  font-weight: bold;
  margin-top: calc(55vh - 54vh);
}

@media screen and (max-width: 870px){
  .itens_cardapio{
      height: 70vh;
  }
}

@media screen and (max-width: 869px){
  .itens_cardapio{
      width: 80%;
  }
}

@media screen and (max-width:499px){
  .ingred_card{
      font-size: .8em;
      margin: 50px 0;
  }

  .itens_cardapio{
      height: auto;
      margin: 20px auto;
  }

  .hot_price{
      font-size: 1.3em;
  }

  .card_title{
      font-size: .8em;
  }

}

@media screen and (max-width:1000px){
  .title2{
    font-size: 20px;
  }
}

@media screen and (max-width: 650px){
  .title2{
    text-align: center;
    font-size: 25px;
  }
}