.head{
    background-color: #700500;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

.line-head{
   width: 70% !important;
   color: white !important;
   opacity: 100%;
}

.text-head{
    margin-right: auto;
    margin-left: auto;
}

a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding-bottom: 2px;
    transition:250ms;
}

a:hover{
    color: black;
    transform: scale(0.9);
}

.material-symbols-outlined{
    padding-right: 10px;
}

h2{
    text-align: center;
    color: #700500;
    height: 40px;    
}

.hot-dog-doce{
    text-align: center;
}

.divdoce{
    text-align: left;
    border: 2px solid #D9D9D9;  
    width: 700px; 
    height: auto; 
    display: inline-block;
    padding: 0 10px;
    font-size: 20px;
    margin-bottom: 5%;
}

.num{
    border: 6px solid #700500;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background-color: #700500;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    margin-right: 10px;
}

.title-box{
    padding-left: 5px;
    position: relative;
    bottom: 15px;
    color: #700500;
    font-weight: 500;
    display: inline-block;
}

.img-card{
    width: 110px;
    float:right;
    padding: 2% 2% 0 0;
    height: 110px;
}

#ingrediente{
    display: flex;
    text-align: left;
    width: 50%;
    position: relative;
    bottom: 15px;
}

#preco{
    padding-left: 5%;
    color: #523B3B;
}

.img-card{
    width: 150px;
    height: auto;
    margin-bottom: 5%;
}

@media screen and (min-width: 400px) and (max-width: 744px){

    .divdoce{
        text-align: left;
        border: 2px solid #D9D9D9;  
        width: 500px;  
        display: inline-block;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 5%;
    }

    .img-card{
        width: 120px;
        height: auto;
        margin-top: 5%;
        margin-right: 5%;
    }

    .title-box{
        bottom: 25px;
    }

    #ingrediente{
        bottom: 25px;
        width: 300px;
    }
}

@media screen and (min-width: 482px) and (max-width: 599px){
    .divdoce{
        text-align: left;
        border: 2px solid #D9D9D9;  
        width: 450px;  
        display: inline-block;
        padding: 10px;
        font-size: 15px;
        margin-bottom: 5%;
    }

    .img-card{
        width: 100px;
        height: auto;
        margin-top: 2%;
        margin-right: 0;
    }

    .num{
        border: 6px solid #700500;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        background-color: #700500;
        color: white;
        display: inline-block;
        text-align: center;
        font-size: 19px;
        margin-right: 10px;
    }

    .title-box{
        bottom: 25px;
    }

    #ingrediente{
        bottom: 25px;
        width: 250px;
    }
}

@media screen and (min-width: 250px) and (max-width: 481px){
    .divdoce{
        text-align: left;
        border: 2px solid #D9D9D9;  
        width: 400px;  
        display: inline-block;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 5%;
    }

    .img-card{
        width: 100px;
        height: auto;
        margin-top: 5%;
        margin-right: 5%;
    }

    .num{
        border: 6px solid #700500;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        background-color: #700500;
        color: white;
        display: inline-block;
        text-align: center;
        font-size: 19px;
        margin-right: 10px;
    }

    .title-box{
        bottom: 25px;
    }

    #ingrediente{
        bottom: 25px;
        width: 250px;
    }
}
